body {
    background-color: black;
    color: white;
    margin: 0 16em auto;
}
a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid green;
    
}
li {
    list-style: square;
}
.header {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: left;
}
img {
    display: block;
    margin-right: 3rem;
}
aside {
    /* display: inline; */
    border: 1px solid black;
    padding: 3rem 2rem 3rem 2rem;
}
.tip, .directions, .ingredients {
    border-bottom: 2px solid green;
}